<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.cocoanaut</string>
	<key>--ignore</key>
	<array>
		<string>*.m</string>
		<string>CNAppDelegate.*</string>
		<string>CNBaseView</string>
	</array>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>cocoa:naut</string>
	<key>--project-name</key>
	<string>CNSplitView</string>
	<key>--create-html</key>
	<true/>
	<key>--index-desc</key>
	<string>./DocIndex.md</string>
	<key>--output</key>
	<string>./Documentation</string>
	<key>include</key>
	<string>./Documentation/Images</string>
	<key>--verbose</key>
	<string>xcode</string>
	<key>--explicit-crossref</key>
	<false/>
	<key>--repeat-first-par</key>
	<false/>
	<key>--verbose</key>
	<integer>3</integer>
</dict>
</plist>
